
    html{height:100%;width:100%;margin-left:0;margin-right:0;}
    body{height:100%;margin-left:0;margin-right:0;}
    #wrapper{padding-left:1%;padding-right:1%;height:100%;width:90%;}
    #controls_wrapper{float:left;width:20%;height:100%;}
    #controls p{margin-top:40%;font-size:1.1em;font-familt:sans-serif;}
    #controls select{width:100%;}
    #canvas_map{float:right;height:80%;width:80%;}